@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


body {
    background-color: #EEF9BF;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}



h1 {
    color: #A7E9AF;
    display: flex;
    text-align: center;
    font-size: 56px;
    font-weight: 725;
    /* Largura da fonte*/
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    /* Largura da fonte*/

    background-color: #A7E9AF;
    padding: 30px;
    margin: 30px 0;
    border: 2px solid #cac7c7;
    border-radius: 10px;
}


.card img {
    width: 100px;
    height: 100px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;
    margin-right: 122px;
    margin-bottom: 163px;
    margin-left: 121px;
}

.card_container {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 400ms ease;
    height: 154px;
    width: 132px;
    transform-origin: center right;
    /* Para quando rodar, não sair do local e ficar torta*/
    margin: 17px;
    cursor: pointer;
}

.flip {
    transform: translateX(-100%) rotateY(-180deg);
}

.card {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    border: 2px solid #cac7c7;
    padding: 27px 9px;
}


.back {
    transform: rotateY(180deg);
}



@media (max-width: 630px) {
    .conteudo {
        margin: 0;
        margin: 37px auto;
    }


    .card {
        margin: 0;
        margin-bottom: 34px;
    }

    header {
        width: 48vh;
        position: relative;
        font-size: 21px
    }

    h1 {
        width: 41vh;
        position: relative;
        font-size: 55px;
        margin-bottom: 1px;
    }




}